{%- assign title = "Ethereum Adoption" -%}
{%- if include.title -%}
  {%- assign title = include.title -%}
{%- endif -%}

{%- assign tagline = "A list of high profile entities building on Ethereum" -%}
{%- if include.tagline -%}
  {%- assign tagline = include.tagline -%}
{%- endif -%}



<!-- Header -->
<header class="bg-blue-dark py-3 my-2">
  <div class="container text-center">
    <h1 class="display-5 fw-bold text-capitalize mt-5">{{title}}</h1>
    <div class="col-lg-7 mx-auto">
      <p class="lead mb-4">{{tagline}}</p>
      <!-- <small class="text-gray-dark opacity-75 mx-auto">{{site.data.adoption | size}} entries</small> -->
    </div>
  </div>
</header>