<style>
  .telegram {
    width: fit-content;
    max-width: 40rem;
    padding: 4px;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    opacity: 95%;
    background-color: #1E2E3A;
    display: block;
    border-radius: 15px;
  }
  .telegram img {
    height: 20px;
    margin-top: -2px;
  }
  a.telegram {
    color: #fff !important;
    text-decoration: none;
  }
  a.telegram:hover {
    text-decoration: none;
  }
  .telegram .join {
    border-radius: 15px;
    padding: 1px 11px;
    background-color: #28455B;
    font-weight: 500;
    display: inline-block;
    margin: -4px -1px;
    color: #4fabef;
  }
</style>


<a class="telegram mx-auto" href="https://t.me/ethereumadoption">
  {{site.data.icons.telegram}}
  <img src="/assets/img/announcements/telegram.png">
  <span class="mx-1">Telegram Announcements</span>
  <span class="join">
    <span>Join ↗</span>
  </span>
</a>
